<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Barber_Manager/

    # Si la petición es a un archivo o carpeta real, no hacer nada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Si no está en /public, redirigir internamente a /public/index.php
    RewriteCond %{REQUEST_URI} !^/Barber_Manager/public/
    RewriteRule ^(.*)$ public/index.php [QSA,L]
    
    # Si está en /public, ejecutar index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^public/(.*)$ public/index.php [QSA,L]
</IfModule>